/*************************************************************************
         (C) Copyright AudioLabs 2017

This source code is protected by copyright law and international treaties. This source code is made available to You subject to the terms and conditions of the Software License for the webMUSHRA.js Software. Said terms and conditions have been made available to You prior to Your download of this source code. By downloading this source code You agree to be bound by the above mentionend terms and conditions, which can also be found here: https://www.audiolabs-erlangen.de/resources/webMUSHRA. Any unauthorised use of this source code may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under law.

**************************************************************************/


input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.ui-slider-track.ui-state-disabled {
  opacity: 1.0;
  -webkit-filter: brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8)  brightness(1.05);
  filter:  brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8) brightness(1.1) contrast(0.8)  brightness(1.05);
}

.noUi-connect {
  background-color: #ED8C01; /* NOTE Background-color between handles alabs-orange */
}

body {
  font-family: sans-serif,verdana,Helvetica,Arial;
  text-align:center;
  background-repeat: repeat-x;
  background-position: 0 5em;
  background-color: #EEE;

}

body.ui-mobile-viewport, div.ui-mobile-viewport {
	overflow-x: scroll;
}

.ui-mobile .ui-page-active {
	overflow-x: visible;
}


#container {
	position: relative;
	top: 0%;
	margin-top: 0px;
	padding: 0 7%;
}



.header {
  position:relative;
  border-left-width: 0;
  border-right-width: 0;
  border: 1px solid #333;
  background: #111;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0 -1px 1px black;
  margin: 0 auto;
  padding: .7em 0em;
  text-align: center;

  background-image: -webkit-gradient(linear,left top,left bottom,from(#3C3C3C),to(#111));
  background-image: -webkit-linear-gradient(#3C3C3C,#111);
  background-image: -moz-linear-gradient(#3C3C3C,#111);
  background-image: -ms-linear-gradient(#3C3C3C,#111);
  background-image: -o-linear-gradient(#3C3C3C,#111);
  background-image: linear-gradient(#3C3C3C,#111);

}
.default_padding {
  border-collapse: separate;
  border-spacing: 1.5em 0.1em;
}

#mushra_items {
  border-spacing: 0.4em;
  position: relative;
}


#tableBS1116 {
  border-spacing: 0.4em;
  position: relative;
}

td.logo {
  padding: 0 0.5em 0 0.5em;
}

img.logo {
  height: 2.5em;
}

table.logo {
  margin-top: 0.8em;
}


.center {
	margin: 0 auto;
}

td.stopButton {
  width: 10%;
  vertical-align: bottom;
  padding-right: 1em;
  padding-bottom: 1em;
}

#sliderLim {
  width: 5%
}

#waveTable {
  width: 100%
}

#conditionNameScale {
  width: 12em;
}

#BS1116conditionNameScale {
	width:13em;
}

#buttonStop, .audioControlElement {
  width: 5.5em !important;
  margin : 0 auto;
}

#mainUp {
  width : 100%;
}

.ui-tolito-progressbar-outer-a
{
  background: #fff;
  /*
  background-image: linear-gradient( #202020, #2c2c2c);
  background-image: -moz-linear-gradient( #202020, #2c2c2c);
  background-image: -ms-linear-gradient( #202020, #2c2c2c);
  background-image: -o-linear-gradient( #202020, #2c2c2c);
  background-image: -webkit-gradient(linear, left top, left bottom, from( #202020), to( #2c2c2c));
  background-image: -webkit-linear-gradient( #202020, #2c2c2c);
  */
  border: 1px solid #000;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 1px #111;
}

.ui-tolito-progressbar-active-b
{
  background: #FFb500;
  /*
  background-image: linear-gradient( #6FACD5, #497BAE);
  background-image: -moz-linear-gradient( #6FACD5, #497BAE);
  background-image: -ms-linear-gradient( #6FACD5, #497BAE);
  background-image: -o-linear-gradient( #6FACD5, #497BAE);
  background-image: -webkit-gradient(linear, left top, left bottom, from( #6FACD5), to( #497BAE));
  background-image: -webkit-linear-gradient( #6FACD5, #497BAE);
  */
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px #3373a5;
}

#page_progressbar {
  width: 30em;
  height: 1em;
  margin:0.5em auto;
}

.fileplayer_progressbar {
  width: 10em;
  height: 1.5em;
}

/* grey background of the wavesurfer behind the slider*/
#slider {
	z-index:10;
	cursor: auto;
}

/* alignment of the "start"button */
#buttonReference {
	margin-left:-0.4em !important;
	margin : 0 auto;
}

/* justifications of the display of the slider values */
.limits {
	width:4em !important;
	text-align:center !important;
}

#div_lower_limit {
	margin-right:1.5em;
	margin-bottom:-12px;
}

#div_upper_limit {
	margin-left:1.5em;
	margin-bottom:-12px;
}

#main {
	cursor:auto;
}

#tdPlayButton {
	text-align:left
}

#tdStopButton {
	text-align:left
}


.noUi-handle {
	cursor: auto;
}

li{
	text-align:left;
	width:50%;
	margin-left:25%;
}

.left {
	text-align:left;
	width:50%;
	margin-left:25%;
}

/********************
      Tab style
*********************/
/* Style the tab */
div.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
  display:inline-flex; /* force tabs in one line */
  float: left;
}

/* Style the buttons inside the tab */
.tablinks {
  background-color: #f1f1f1;
  float: left;
  /* border: none;
  border-radius:35px; */
  border: 1px solid #999;
  border-radius: 15px 15px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 100px;
  height: 20px;
  position: relative;
  /* transition: 0.3s; */
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  box-shadow: none;
}

/* Change background color of buttons on hover */
/* div.tab button:hover {
  background-color: #DDD;
} */

/* Create an active/current tablink class */
.tablinks.active {
  color: #FFF;
  background-color: #ED8C01;
  /* color: #fff; */
  border-bottom: 1px solid transparent;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: 2px solid #999;
  /* border: none; */
  /* border: 1px solid #ccc; */
  /* border-top: none; */
  text-align: left;
}


/********************
    Tagging style
*********************/

#tagging_items {
  border-spacing: 0.4em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  /* justify-content: center; */
}

#tagging_items .tag-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #e5e5e5;
  border-radius: 20px;
  color: #999;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 1.0em;
}

#tagging_items .tag-button.active {
  /* background-color: orange; */
  /* border-color: #ff8c00; */
  color: white;
}

.tagHeader {
  font-size: 0.8em;
  font-weight: bold;
}

.tabNavigation {
  background-color: #f1f1f1;
  float: left;
  /* border: none;
  border-radius:35px; */
  border: 1px solid #999;
  border-radius: 15px 15px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 40px;
  height: 20px;
  position: relative;
  /* transition: 0.3s; */
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  box-shadow: none;
}

#div_tab_navigation {
	margin-left: .5em;
	margin-right: .5em;
}
.input_tab_navigation {
	width:4em !important;
	text-align:center !important;
}

.noClick {
  pointer-events: none;
}

/********************
    Settings style
*********************/

.pageSettingButton {
  /* background-color: #f1f1f1; */
  float: right;
  position: relative;
  display: flex;
  border: 3px solid transparent;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: none;
  text-shadow: none;
}

.pageSettingButton img {
  max-width: 90%;
  height: auto;
  overflow: hidden;
  display: block;
  margin: auto;
  opacity: 0.75;
}

.shadow {
  filter: drop-shadow( 0px 0px 0.15rem rgba(0, 0, 0, .5));
  /* Similar syntax to box-shadow */
}

/* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/***********************************
  Wavformer and spectrogram styles
************************************/
.wrapper {
  position: relative;
  overflow: visible;
  z-index: 2;
}

#parentWavesurfer {
  position: relative;
  margin: 0.5em;
}
#parentSpectrogram {
  position: relative;
  margin: 0.5em;
}

.waveformSpecCanvas {
  border: 1px solid black;
}

.playerCursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  border-right: 3px solid #007ACC;
}

/* For user interaction with canvas */
.userInputDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 1;
}
.userSelectionRect {
  position: absolute;
  border: solid red;
  border-width: 3px;
  background-color: rgba(255, 0, 0, 0);
  pointer-events: none;  /* to avoid interfering with the mouse events */
  z-index: 2;
}

/********************
    Toggle switch
*********************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchSlider {
  background-color: #57BE6A;
}

input:focus + .switchSlider {
  box-shadow: 0 0 1px #57BE6A;
}

input:checked + .switchSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchSlider.round {
  border-radius: 34px;
}

.switchSlider.round:before {
  border-radius: 50%;
}


/********************
 Github-style tables
*********************/
.ghTble {
  border-collapse: collapse;
  max-width: 100%;
  margin-bottom: 20px;
}

.ghTable th, .ghTable td {
  border: 1px solid #ddd;
  padding: 12px;
}

.ghTable th {
  background-color: #f2f2f2;
}

.ghTable tr:nth-child(odd){background-color: #f2f2f2;}
